.version.culture /* version checker */
{
	color: #00001F;
	background-color: #D4B909;
}

.html
{
	background: #FFFFFF url("../images/noisy_grid.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 3429.650000000006px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -102px;
	margin-bottom: -114px;
	width: 0.01px;
}

#pu31299
{
	width: 0.01px;
	margin-left: -100px;
}

#u31299
{
	z-index: 19;
	width: 1480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u31153-12
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 206px;
}

#u31204
{
	z-index: 42;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1430px;
}

#culture__
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u31277
{
	z-index: 204;
	width: 1480px;
	background-color: #36233B;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu31418
{
	width: 0.01px;
	padding-bottom: 817px;
	margin-left: -100px;
	margin-top: -988px;
}

#u31418
{
	z-index: 2;
	width: 1472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -18px;
	left: -92px;
}

#u31408
{
	z-index: 3;
	width: 1472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u31401
{
	z-index: 4;
	width: 1472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u31394
{
	z-index: 7;
	width: 515px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u31394_clip
{
	overflow: hidden;
	width: 515px;
	height: 649px;
}

#u31394_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	margin: -2px 71px 2px;
}

#u31392
{
	z-index: 5;
	width: 486px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u31392_clip
{
	overflow: hidden;
	width: 486px;
	height: 651px;
}

#u31392_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	margin: 145px -154px 199px -143px;
}

#u31396
{
	z-index: 9;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1002px;
}

#u31396_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
}

#u31402
{
	z-index: 11;
	width: 484px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 516px;
}

#u31402_clip
{
	overflow: hidden;
	width: 484px;
	height: 158px;
}

#u31402_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	margin: 15px -1018px -828px -978px;
}

#u31405
{
	z-index: 13;
	width: 483px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 516px;
}

#u31405_clip
{
	overflow: hidden;
	width: 483px;
	height: 220px;
}

#u31405_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	margin: 21px -1514px -1151px -1451px;
}

#u31409
{
	z-index: 15;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 2px;
}

#u31415
{
	z-index: 17;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 443px;
}

#u31409_clip,#u31415_clip
{
	overflow: hidden;
	width: 71px;
	height: 645px;
}

#u31409_img,#u31415_img
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	margin: -2px -298px -2px -3px;
}

#u31289
{
	z-index: 203;
	height: 90px;
	background-color: #36233B;
	position: fixed;
	top: 0px;
}

#u31289-bw
{
	z-index: 203;
}

#u31420
{
	z-index: 292;
	height: 95px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #00204D));
	background: -webkit-linear-gradient(left,#000000 ,#00204D 100%);
	background: linear-gradient(to right,#000000 ,#00204D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF00204D, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF00204D', GradientType=1)";
	position: fixed;
	top: 0px;
	background-size: 100% auto;
}

#u31420-bw
{
	z-index: 292;
}

#u31080
{
	z-index: 314;
	width: 239px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 91px;
}

.js #u31277.ose_pre_init,.js #u31080.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u31146
{
	z-index: 316;
	width: 239px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -619px;
}

#u31419
{
	z-index: 293;
	width: 584px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 28px;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 36px;
}

#u31220-4
{
	z-index: 302;
	width: 129px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 36px;
}

#u31220-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 127px;
	margin: -1px -1px -1px 35px;
}

#u31220-4:hover p
{
	color: #002366;
	visibility: inherit;
	text-align: center;
}

#u31217-4
{
	z-index: 306;
	width: 98px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 165px;
}

#u31217-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 96px;
	margin: -1px -1px -1px 164px;
}

#u31152-4
{
	z-index: 298;
	width: 102px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 263px;
}

#u31152-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 100px;
	margin: -1px -1px -1px 262px;
}

#u31162-4
{
	z-index: 310;
	width: 123px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 365px;
}

#u31162-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 121px;
	margin: -1px -1px -1px 364px;
}

#u31083-4
{
	z-index: 294;
	width: 132px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: 488px;
}

#u31083-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 130px;
	margin: -1px -1px -1px 487px;
}

#u31217-4:hover p,#u31152-4:hover p,#u31162-4:hover p,#u31083-4:hover p
{
	color: #002366;
	visibility: inherit;
}

#u31150
{
	z-index: 141;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 541px;
	left: 50%;
	margin-left: 517px;
}

#u32422
{
	z-index: 290;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 769px;
	left: 50%;
	margin-left: 558px;
}

.js #u31420.ose_pre_init,.js #u31146.ose_pre_init,.js #u31150.ose_pre_init,.js #u32422.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u31284
{
	z-index: 144;
	width: 1103px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 98px;
	margin-top: 68px;
	position: relative;
}

#pu31218
{
	width: 0.01px;
	margin-left: 7px;
}

#u31218
{
	z-index: 153;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#u31212-8
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#pu31236-19
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 12px;
}

#u31236-19
{
	z-index: 155;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u31140
{
	z-index: 174;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 660px;
}

#u31140_img
{
	padding-right: 28px;
}

#pu31211-8
{
	width: 0.01px;
	margin-top: 64px;
}

#u31211-8
{
	z-index: 176;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#u31163
{
	z-index: 184;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 7px;
}

#u31156-7
{
	z-index: 186;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
}

#u31148
{
	z-index: 193;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 451px;
	left: 647px;
}

#pu31213
{
	width: 0.01px;
	margin-top: 13px;
}

#u31213
{
	z-index: 201;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#u31143-6
{
	z-index: 195;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#pu32746
{
	width: 0.01px;
	margin-left: 425px;
	margin-top: 16px;
}

#u32746
{
	z-index: 21;
	width: 396px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32753-6
{
	z-index: 23;
	width: 396px;
	min-height: 26px;
	background-color: #4C4C4C;
	background-color: rgba(0,0,0,0.7);
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	-pie-background: rgba(0,0,0,0.7);
}

#u32753-2
{
	text-align: left;
}

#u32753-4
{
	text-align: center;
}

#u32752-4
{
	z-index: 206;
	width: 268px;
	min-height: 37px;
	background-color: transparent;
	line-height: 24px;
	color: #9E005D;
	font-size: 20px;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 74px;
}

#u32755-6
{
	z-index: 318;
	width: 238px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 1076px;
	margin-top: 55px;
	position: relative;
}

#pu31161
{
	width: 0.01px;
	margin-left: -311px;
	margin-top: -84px;
}

#u31161
{
	z-index: 41;
	width: 1682px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 169px;
	background: transparent url("../images/diagonales_decalees_%402gsddddddddddddx.jpg") repeat left top;
}

#u31209-4
{
	z-index: 74;
	width: 223px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 218px;
}

#u31209-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 221px;
	margin: 19px -10001px -1px -1px;
}

#u31155
{
	z-index: 43;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 583px;
}

#pu31082-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 698px;
}

#u31082-4
{
	z-index: 60;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
}

#u31082-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: -1px;
}

#pu31200
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 25px;
}

#u31200
{
	z-index: 66;
	width: 28px;
	position: relative;
	margin-right: -10000px;
}

.hvr-float-shadow,.hvr-grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u31215
{
	z-index: 68;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 42px;
}

#u31158
{
	z-index: 64;
	width: 28px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u31208
{
	z-index: 44;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 980px;
}

#pu31079-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 988px;
}

#u31079-4
{
	z-index: 70;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 141px;
	position: relative;
}

#u31079-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: -1px -1px -1px 140px;
}

#u31209-4:hover p,#u31082-4:hover p,#u31079-4:hover p
{
	color: #000066;
	visibility: inherit;
	text-align: center;
}

#u31157-13
{
	z-index: 45;
	width: 270px;
	min-height: 158px;
	background-color: transparent;
	font-size: 14px;
	margin-top: 7px;
	position: relative;
}

#u31157-2,#u31157-4,#u31157-5
{
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: voltaire, sans-serif;
	font-weight: 400;
}

#u31157-7,#u31157-9,#u31157-11
{
	color: #A2A2A2;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
}

#u31221
{
	z-index: 58;
	width: 1973px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
}

#u31221_clip
{
	overflow: hidden;
	width: 1973px;
	height: 56px;
}

#u31221_img
{
	margin-top: -7px;
	margin-right: -4px;
	margin-bottom: -310px;
}

#pamphletu31165
{
	z-index: 78;
	width: 0.01px;
	height: 49px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 380px;
}

#u31166
{
	position: absolute;
	width: 1026px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.4)),color-stop(100%, rgba(0,0,0,0.95)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#F2000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#F2000000', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 44px;
	top: 340px;
	left: -65px;
}

#u31166popup
{
	z-index: 79;
}

#u31167
{
	z-index: 80;
	width: 982px;
	height: 826px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u31464
{
	z-index: 81;
	width: 922px;
	height: 452px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.51);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 38px;
	-pie-background: rgba(255,255,255,0.51);
}

#u31464:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.85);
	width: 922px;
	height: 452px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.85);
}

#u31465
{
	z-index: 82;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 233px;
}

#u31474
{
	z-index: 83;
	width: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 185px;
}

#pu31478
{
	width: 0.01px;
}

#u31478
{
	z-index: 84;
	width: 2px;
	height: 235px;
	background-color: #00204D;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u31476
{
	z-index: 85;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 80px;
}

#u31475
{
	z-index: 86;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 81px;
}

#u31477
{
	z-index: 87;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	margin-left: 83px;
	top: -84px;
	margin-bottom: -82px;
	position: relative;
}

#u31466
{
	z-index: 88;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u31470-4
{
	z-index: 101;
	width: 134px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 201px;
	position: relative;
}

#pu31472-4
{
	width: 0.01px;
	margin-top: 47px;
}

#u31472-4
{
	z-index: 89;
	width: 180px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31467-4
{
	z-index: 109;
	width: 129px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 356px;
}

#pu31471-4
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 52px;
}

#u31471-4
{
	z-index: 113;
	width: 113px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31469-4
{
	z-index: 105;
	width: 136px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 289px;
}

#pu31468-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 51px;
}

#u31468-4
{
	z-index: 93;
	width: 145px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31473-4
{
	z-index: 97;
	width: 175px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 321px;
}

#u31470-4::before,#u31472-4::before,#u31467-4::before,#u31471-4::before,#u31469-4::before,#u31468-4::before,#u31473-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u31182
{
	z-index: 117;
	width: 982px;
	height: 826px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u31183
{
	z-index: 118;
	width: 902px;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u31187
{
	z-index: 119;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u31188
{
	position: absolute;
	width: 120px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 15px;
	top: 8px;
	left: -9px;
}

#u31188:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u31188:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 120px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u31191-4
{
	z-index: 123;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 9px;
}

#u31188:hover #u31191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u31188:active #u31191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u31188.PamphletThumbSelected #u31191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u31189
{
	z-index: 121;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u31188:hover #u31189
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31188:active #u31189
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31188.PamphletThumbSelected #u31189
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31192
{
	position: absolute;
	width: 168px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 17px;
	left: 128px;
}

#u31192:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u31192:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 168px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u31193
{
	z-index: 132;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u31192:hover #u31193
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31192:active #u31193
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31192.PamphletThumbSelected #u31193
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31195-4
{
	z-index: 128;
	width: 107px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: 0px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u31192:hover #u31195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u31192:active #u31195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u31192.PamphletThumbSelected #u31195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u31192.PamphletThumbSelected #u31195-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	font-weight: normal;
}

#u31185
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	border-radius: 45px;
	padding-bottom: 5px;
	top: 386px;
	left: 886px;
}

#u31185:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u31185:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u31186-4
{
	z-index: 135;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u31186-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u31144
{
	z-index: 139;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 388px;
}

#u31144_clip
{
	overflow: hidden;
	width: 46px;
	height: 48px;
}

#u31144_img
{
	margin-right: -1px;
}

#pamphletu32278
{
	z-index: 210;
	width: 0.01px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 891px;
}

#u32284
{
	position: absolute;
	width: 863px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 44px;
	top: 119px;
	left: -382px;
	-pie-background: rgba(0,0,0,0.5);
}

#u32284popup
{
	z-index: 211;
}

#u32285
{
	z-index: 212;
	width: 755px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.95);
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 10px 9px 445px 55px;
	-pie-background: rgba(255,255,255,0.95);
}

#u32289-4
{
	z-index: 275;
	width: 500px;
	min-height: 42px;
	background-color: transparent;
	color: #1B1464;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	text-align: center;
	font-family: graduate, sans-serif;
	font-weight: 400;
	margin-left: 116px;
	position: relative;
}

#pamphletu32318
{
	z-index: 249;
	width: 0.01px;
	height: 300px;
	padding-bottom: 1px;
	margin-left: 499px;
	margin-top: 14px;
	position: relative;
}

#u32319
{
	z-index: 250;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u32320
{
	position: absolute;
	width: 251px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u32320:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u32320.PamphletThumbSelected
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u32321
{
	z-index: 252;
	width: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32320:hover #u32321
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32320.PamphletThumbSelected #u32321
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32321_img
{
	margin-bottom: -55px;
}

#u32323
{
	position: absolute;
	width: 239px;
	background-color: transparent;
}

#u32323popup
{
	z-index: 254;
}

#u32324
{
	z-index: 255;
	width: 239px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32325-7
{
	z-index: 256;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32325-3
{
	font-size: 20px;
	line-height: 31px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pamphletu32290
{
	z-index: 218;
	width: 0.01px;
	height: 296px;
	padding-bottom: 120px;
	top: -294px;
	margin-bottom: -294px;
	position: relative;
}

#u32295
{
	z-index: 219;
	width: 239px;
	position: relative;
	margin-right: -10000px;
}

#u32296
{
	position: absolute;
	width: 361px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 120px;
}

#u32296:hover
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32296:active
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32296.PamphletThumbSelected
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32297
{
	z-index: 221;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32296:hover #u32297
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32296:active #u32297
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32296.PamphletThumbSelected #u32297
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32297_clip
{
	overflow: hidden;
	width: 239px;
	height: 296px;
}

#u32297_img
{
	margin-top: -31px;
	margin-bottom: -32px;
}

#u32299
{
	position: absolute;
	width: 238px;
	background-color: transparent;
}

#u32299popup
{
	z-index: 223;
}

#u32300
{
	z-index: 224;
	width: 238px;
	height: 303px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32301-7
{
	z-index: 225;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32325,#u32301
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u32301-3
{
	font-size: 20px;
	line-height: 32px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32301-5
{
	font-size: 11px;
	line-height: 18px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#pu32333
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -417px;
}

#u32333
{
	z-index: 213;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32286
{
	z-index: 215;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u32286_clip
{
	overflow: hidden;
	width: 230px;
	height: 296px;
}

#u32286_img
{
	margin-bottom: -49px;
}

#u32332
{
	z-index: 217;
	width: 230px;
	height: 296px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#pamphletu32304
{
	z-index: 232;
	width: 0.01px;
	height: 298px;
	padding-bottom: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 243px;
}

#u32312
{
	z-index: 233;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 4px;
}

#pu32313
{
	position: absolute;
	width: 0.01px;
	left: -4px;
}

#u32313
{
	position: absolute;
	width: 509px;
	height: 536px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#pu32313.PamphletThumbSelected #u32313,#pu32313:hover #u32313
{
	width: 510px;
	height: 537px;
	border-style: none;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

.ie #u32332,.ie #pu32313.PamphletThumbSelected #u32313,.ie #pu32313:hover #u32313
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u32314
{
	z-index: 236;
	width: 234px;
	background-color: transparent;
}

#pu32313:hover #u32314
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#pu32313.PamphletThumbSelected #u32314
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#u32321_clip,#u32314_clip
{
	overflow: hidden;
	width: 234px;
	height: 296px;
}

#u32314_img
{
	margin-top: -27px;
	margin-bottom: -28px;
}

#pu32313 #u32314
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 3px;
}

#u32307
{
	position: absolute;
	width: 237px;
	background-color: transparent;
	left: 4px;
}

#u32307popup
{
	z-index: 240;
}

#u32308
{
	z-index: 241;
	width: 237px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32309-7
{
	z-index: 242;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32309
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32309-3
{
	font-size: 20px;
	line-height: 30px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32325-5,#u32309-5
{
	font-size: 11px;
	line-height: 17px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u32325-4,#u32301-4,#u32309-4
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32288-12
{
	z-index: 263;
	width: 500px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 117px;
}

#u32288-2,#u32288-3
{
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u32288-5,#u32288-7,#u32288-9
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u32288-10
{
	font-size: 12px;
	line-height: 14px;
}

#u32281
{
	z-index: 279;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u32282
{
	position: absolute;
	width: 83px;
	border-color: #999999;
	background-color: transparent;
}

#u32282:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u32282:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 83px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u32283-4
{
	z-index: 281;
	width: 83px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u32282:hover #u32283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32282:active #u32283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32282.PamphletThumbSelected #u32283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32282.PamphletThumbSelected #u32283-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	text-align: center;
	font-weight: normal;
}

#u32279
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF1E1E;
	background-color: rgba(255,0,0,0.88);
	border-radius: 45px;
	padding-bottom: 5px;
	top: 142px;
	left: 423px;
	-pie-background: rgba(255,0,0,0.88);
}

#u32279:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u32279:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u32280-4
{
	z-index: 286;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u32280-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u31186-4:hover p,#u32280-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 95px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

