.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

#u257-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u258-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u259-4,#u121-4,#u6195-4,#u118-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u17462-4
{
	font-family: graduate-n4, sans-serif;
}

#u17458,#u17458-5,#u17401,#u17401-5,#u17446-5
{
	font-family: noticia-text-n4, serif;
}

#u17458-3,#u17458-4,#u17401-3,#u17401-4,#u17446,#u17446-3,#u17446-4
{
	font-family: lato-n7, sans-serif;
}

#u17461-2,#u17461-3,#u17461-5,#u17461-7,#u17461-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u17316-4
{
	font-family: voltaire-n4, sans-serif;
}

#u5028-11,#u5028-13,#u5028-15
{
	font-family: droid-sans-n7, sans-serif;
}

#u5028-2,#u5028-4,#u5028-5,#u5028-7,#u5028-9,#u1468-4
{
	font-family: voltaire-n4, sans-serif;
}

#u5025-4
{
	font-family: voltaire-n4, sans-serif;
}

#u5029-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6162-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6154-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6155-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6175-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6161-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6164-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6163-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6150-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6527-4
{
	font-family: voltaire-n4, sans-serif;
}

