.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

#u31220-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u31217-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u31152-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u31162-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u31083-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32752-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u32755-6,#u31209-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31082-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31079-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31157-7,#u31157-9,#u31157-11
{
	font-family: droid-sans-n7, sans-serif;
}

#u31157-2,#u31157-4,#u31157-5,#u31470-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31472-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31467-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31471-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31469-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31468-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31473-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31191-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31195-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32289-4
{
	font-family: graduate-n4, sans-serif;
}

#u32325,#u32325-5,#u32301,#u32301-5,#u32309-5
{
	font-family: noticia-text-n4, serif;
}

#u32325-3,#u32325-4,#u32301-3,#u32301-4,#u32309,#u32309-3,#u32309-4
{
	font-family: lato-n7, sans-serif;
}

#u32288-2,#u32288-3,#u32288-5,#u32288-7,#u32288-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u32283-4
{
	font-family: voltaire-n4, sans-serif;
}

