.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

#u32180-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32184-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32182-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32181-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32183-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u5410-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u6220-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6219-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u6222-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6217-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6226-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6223-4,#u6216-4,#u6225-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u6247-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6253-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6248-4,#u6254-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u30700-11:hover p,#u30701-11:hover p,#u32041-6,#u32026-4:hover p,#u32026-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32030-4:hover p,#u32030-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u32029-4:hover p,#u32029-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u17990-4
{
	font-family: voltaire-n4, sans-serif;
}

#u17988-4
{
	font-family: voltaire-n4, sans-serif;
}

#u17989-4
{
	font-family: voltaire-n4, sans-serif;
}

#u17985-10
{
	font-family: droid-sans-n7, sans-serif;
}

#u17985-2,#u17985-4,#u17985-5,#u17985-7,#u17985-9,#u31887-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31884-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31885-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31883-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31886-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31882-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31888-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31896-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31898-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32202-4
{
	font-family: graduate-n4, sans-serif;
}

#u32238,#u32238-5,#u32214,#u32214-5,#u32222-5
{
	font-family: noticia-text-n4, serif;
}

#u32238-3,#u32238-4,#u32214-3,#u32214-4,#u32222,#u32222-3,#u32222-4
{
	font-family: lato-n7, sans-serif;
}

#u32201-2,#u32201-3,#u32201-5,#u32201-7,#u32201-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u32196-4
{
	font-family: voltaire-n4, sans-serif;
}

