.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

#u14068-4
{
	font-family: neuton-n4, serif;
}

#u7366-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u275-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u276-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u277-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u274-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u273-7
{
	font-family: advent-pro-n6, sans-serif;
}

#u18696-10,#u18696-12,#u18696-14,#u18696-16
{
	font-family: droid-sans-n7, sans-serif;
}

#u18707-4,#u18699-4,#u18706-4,#u18696-2,#u18696-4,#u18696-5,#u18696-7,#u18696-9,#u32116-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32119-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32120-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32118-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32114-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32117-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32115-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32100-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32104-4
{
	font-family: voltaire-n4, sans-serif;
}

#u32701-4
{
	font-family: graduate-n4, sans-serif;
}

#u32716,#u32716-5,#u32693,#u32693-5,#u32730-5
{
	font-family: noticia-text-n4, serif;
}

#u32716-3,#u32716-4,#u32693-3,#u32693-4,#u32730,#u32730-3,#u32730-4
{
	font-family: lato-n7, sans-serif;
}

#u32702-2,#u32702-3,#u32702-5,#u32702-7,#u32702-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u32681-4
{
	font-family: voltaire-n4, sans-serif;
}

