.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

#u6186-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u6187-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u6188-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u6185-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u6190-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u18932-4
{
	font-family: voltaire-n4, sans-serif;
}

#u18924-4
{
	font-family: voltaire-n4, sans-serif;
}

#u18931-4
{
	font-family: voltaire-n4, sans-serif;
}

#u18921-10,#u18921-12,#u18921-14,#u18921-16
{
	font-family: droid-sans-n7, sans-serif;
}

#u32538-4
{
	font-family: graduate-n4, sans-serif;
}

#u32574,#u32574-5,#u32550,#u32550-5,#u32558-5
{
	font-family: noticia-text-n4, serif;
}

#u32574-3,#u32574-4,#u32550-3,#u32550-4,#u32558,#u32558-3,#u32558-4
{
	font-family: lato-n7, sans-serif;
}

#u32537-2,#u32537-3,#u32537-5,#u32537-7,#u32537-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u18921-2,#u18921-4,#u18921-5,#u18921-7,#u18921-9,#u32532-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31836-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31832-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31833-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31831-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31834-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31830-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31835-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31821-4
{
	font-family: voltaire-n4, sans-serif;
}

#u31815-4
{
	font-family: voltaire-n4, sans-serif;
}

