.version.index /* version checker */
{
	color: #0000E9;
	background-color: #300458;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1270px;
	min-height: 2659px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -106px;
	margin-bottom: -18px;
	width: 0.01px;
}

#pu14489
{
	width: 0.01px;
	padding-bottom: 193px;
	margin-left: -100px;
}

#u14489
{
	z-index: 227;
	height: 71px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #00204D));
	background: -webkit-linear-gradient(left,#000000 ,#00204D 100%);
	background: linear-gradient(to right,#000000 ,#00204D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF00204D, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF00204D', GradientType=1)";
	position: fixed;
	top: -2px;
	background-size: 100% auto;
}

#u14489-bw
{
	z-index: 227;
}

#u5756
{
	z-index: 228;
	width: 66px;
	background-color: transparent;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -648px;
}

#u5756_clip
{
	overflow: hidden;
	width: 66px;
	height: 69px;
}

#u5756_img
{
	margin-right: -2px;
}

#u257-4
{
	z-index: 238;
	width: 117px;
	min-height: 36px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -549px;
}

#u257-4:hover
{
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 117px;
	margin: 0px 0px 0px -549px;
}

.hvr-underline-from-center
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
}

#u258-4
{
	z-index: 242;
	width: 89px;
	min-height: 36px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -435px;
}

#u258-4:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 89px;
	margin: 0px 0px 0px -435px;
}

#u259-4
{
	z-index: 246;
	width: 90px;
	min-height: 36px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -344px;
}

#u121-4
{
	z-index: 234;
	width: 86px;
	min-height: 36px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -254px;
}

#u5688
{
	z-index: 262;
	width: 258px;
	background-color: transparent;
	position: fixed;
	top: -12px;
	left: 50%;
	margin-left: -173px;
}

#u5688_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

.js #u5688.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u6195-4
{
	z-index: 250;
	width: 91px;
	min-height: 35px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 26px;
	left: 50%;
	margin-left: 373px;
}

#u118-4
{
	z-index: 230;
	width: 106px;
	min-height: 35px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 26px;
	left: 50%;
	margin-left: 483px;
}

#ptop_main
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-left: -100px;
	margin-top: -183px;
}

#top_main
{
	position: relative;
}

#pamphletu21617
{
	z-index: 209;
	width: 0.01px;
	height: 284px;
	padding-bottom: 576px;
	margin-top: 17px;
	position: relative;
}

#u21624
{
	position: absolute;
	width: 1473px;
}

#u21624popup
{
	z-index: 210;
}

#u21635
{
	z-index: 211;
	width: 1469px;
	height: 833px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 2px;
}

#u21647
{
	z-index: 212;
	width: 1470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u21630
{
	z-index: 214;
	width: 1471px;
	height: 859px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u21654
{
	z-index: 215;
	width: 1472px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: -1px;
}

#u21654_clip
{
	overflow: hidden;
	width: 1472px;
	height: 832px;
}

#u21654_img
{
	margin-top: 58px;
	margin-bottom: -59px;
}

#u32147
{
	z-index: 217;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 753px;
	left: 50%;
	margin-left: 536px;
}

#u21618
{
	z-index: 219;
	width: 146px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 128px;
}

#u21621
{
	position: absolute;
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 74px;
	left: -26px;
}

#u21621:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u21621.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u21660
{
	z-index: 221;
	width: 127px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,127,169);
	-ms-transform: matrix(-1,0,0,-1,127,169);
	transform: matrix(-1,0,0,-1,127,169);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 26px;
}

#u21621:hover #u21660
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 127px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u21621.PamphletThumbSelected #u21660
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 127px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u21660_img
{
	padding-right: 25px;
}

#u21619
{
	position: absolute;
	width: 138px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: -29px;
	left: -86px;
	padding: 29px 60px 101.28015790860087px 95px;
}

#u21619:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u21619.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 10px;
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u21710
{
	z-index: 224;
	width: 3px;
	height: 80px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	margin-left: 69px;
	position: relative;
}

#u21619:hover #u21710
{
	width: 3px;
	height: 80px;
	min-height: 0px;
	margin: 0px 0px 0px 69px;
}

#u21619.PamphletThumbSelected #u21710
{
	width: 3px;
	height: 80px;
	min-height: 0px;
	margin: 0px 0px 0px 69px;
}

#u21677
{
	z-index: 225;
	width: 138px;
	background-color: transparent;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#u21619:hover #u21677
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 138px;
	min-height: 0px;
	margin: 0px 0px -9px;
}

#u21619.PamphletThumbSelected #u21677
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 138px;
	min-height: 0px;
	margin: 0px 0px -9px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u21704
{
	z-index: 9;
	width: 1470px;
	background-color: transparent;
	top: -848px;
	margin-bottom: -827px;
	position: relative;
}

#u21821
{
	z-index: 2;
	width: 1475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -100px;
	top: -25px;
	margin-bottom: -25px;
	position: relative;
}

#u21820
{
	z-index: 3;
	width: 738px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 737px;
}

#u21812
{
	z-index: 5;
	width: 738px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu6919-4
{
	width: 0.01px;
	padding-bottom: 654px;
	margin-left: 123px;
	margin-top: -692px;
}

#u6919-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 904px;
	left: 120px;
}

#u21799
{
	z-index: 7;
	width: 641px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 820px;
	left: 307px;
}

#u21799_img
{
	opacity: 0.83;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=83)";
	filter: alpha(opacity=83);
}

#pu6553
{
	width: 0.01px;
	margin-left: -99px;
}

#u6553
{
	z-index: 94;
	width: 439px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,216,222);
	-ms-transform: matrix(0,-1,1,0,216,222);
	transform: matrix(0,-1,1,0,216,222);
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 511px;
}

#u21836
{
	z-index: 96;
	width: 1469px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u21831
{
	z-index: 97;
	width: 1469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u21822
{
	z-index: 99;
	width: 1137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 29px;
}

#u21822_clip
{
	overflow: hidden;
	width: 1137px;
	height: 814px;
}

#u21822_img
{
	margin: -37px -331px -34px -55px;
}

#u14458
{
	z-index: 102;
	height: 514px;
	width: 989px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 99px;
	background: url("../images/u14458.png") no-repeat 0px 0px;
}

#u14458:hover
{
	background: url("../images/u14458-r.png") no-repeat 0px 0px;
}

#u6538
{
	z-index: 254;
	width: 642px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 2093px;
}

#u6538_clip
{
	overflow: hidden;
	width: 642px;
	height: 348px;
}

#u6538_img
{
	margin-left: -29px;
	margin-right: -30px;
	margin-bottom: 31px;
}

.js #u5756.ose_pre_init,.js #u32147.ose_pre_init,.js #u6919-4.ose_pre_init,.js #u6538.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u21877-6
{
	z-index: 256;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1561px;
	left: 182px;
}

#pu16657
{
	width: 0.01px;
	margin-left: -376px;
	margin-top: 1px;
}

#u16657
{
	z-index: 11;
	width: 1799px;
	height: 272px;
	background: -webkit-gradient(linear, center top, center bottom, from(#1C1D17),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#1C1D17 ,#000000 100%);
	background: linear-gradient(to bottom,#1C1D17 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1C1D17, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1C1D17', endColorstr='#FF000000', GradientType=0)";
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#pamphletu17309
{
	z-index: 12;
	width: 0.01px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 956px;
}

#u17321
{
	position: absolute;
	width: 863px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 44px;
	top: 119px;
	left: -382px;
	-pie-background: rgba(0,0,0,0.5);
}

#u17321popup
{
	z-index: 13;
}

#u17337
{
	z-index: 14;
	width: 755px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.95);
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 10px 9px 445px 55px;
	-pie-background: rgba(255,255,255,0.95);
}

#u17462-4
{
	z-index: 77;
	width: 500px;
	min-height: 42px;
	background-color: transparent;
	color: #1B1464;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	text-align: center;
	font-family: graduate, sans-serif;
	font-weight: 400;
	margin-left: 116px;
	position: relative;
}

#pamphletu17449
{
	z-index: 51;
	width: 0.01px;
	height: 300px;
	padding-bottom: 1px;
	margin-left: 499px;
	margin-top: 14px;
	position: relative;
}

#u17452
{
	z-index: 52;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u17453
{
	position: absolute;
	width: 251px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u17453:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u17453.PamphletThumbSelected
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u32166
{
	z-index: 54;
	width: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17453:hover #u32166
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17453.PamphletThumbSelected #u32166
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32166_img
{
	margin-bottom: -55px;
}

#u17456
{
	position: absolute;
	width: 239px;
	background-color: transparent;
}

#u17456popup
{
	z-index: 56;
}

#u17457
{
	z-index: 57;
	width: 239px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u17458-7
{
	z-index: 58;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u17458-3
{
	font-size: 20px;
	line-height: 31px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pamphletu17394
{
	z-index: 20;
	width: 0.01px;
	height: 296px;
	padding-bottom: 120px;
	top: -294px;
	margin-bottom: -294px;
	position: relative;
}

#u17404
{
	z-index: 21;
	width: 239px;
	position: relative;
	margin-right: -10000px;
}

#u17405
{
	position: absolute;
	width: 361px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 120px;
}

#u17405:hover
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u17405:active
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u17405.PamphletThumbSelected
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32156
{
	z-index: 23;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17405:hover #u32156
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17405:active #u32156
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17405.PamphletThumbSelected #u32156
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32156_clip
{
	overflow: hidden;
	width: 239px;
	height: 296px;
}

#u32156_img
{
	margin-top: -31px;
	margin-bottom: -32px;
}

#u17399
{
	position: absolute;
	width: 238px;
	background-color: transparent;
}

#u17399popup
{
	z-index: 25;
}

#u17400
{
	z-index: 26;
	width: 238px;
	height: 303px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u17401-7
{
	z-index: 27;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u17458,#u17401
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u17401-3
{
	font-size: 20px;
	line-height: 32px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u17401-5
{
	font-size: 11px;
	line-height: 18px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#pu17376
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -417px;
}

#u17376
{
	z-index: 15;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17382
{
	z-index: 17;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u17382_clip
{
	overflow: hidden;
	width: 230px;
	height: 296px;
}

#u17382_img
{
	margin-bottom: -49px;
}

#u17388
{
	z-index: 19;
	width: 230px;
	height: 296px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#pamphletu17437
{
	z-index: 34;
	width: 0.01px;
	height: 298px;
	padding-bottom: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 243px;
}

#u17440
{
	z-index: 35;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 4px;
}

#pu17441
{
	position: absolute;
	width: 0.01px;
	left: -4px;
}

#u17441
{
	position: absolute;
	width: 509px;
	height: 536px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#pu17441.PamphletThumbSelected #u17441,#pu17441:hover #u17441
{
	width: 510px;
	height: 537px;
	border-style: none;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

.ie #u17388,.ie #pu17441:hover #u17441,.ie #pu17441.PamphletThumbSelected #u17441
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u32161
{
	z-index: 38;
	width: 234px;
	background-color: transparent;
}

#pu17441:hover #u32161
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#pu17441.PamphletThumbSelected #u32161
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#u32166_clip,#u32161_clip
{
	overflow: hidden;
	width: 234px;
	height: 296px;
}

#u32161_img
{
	margin-top: -27px;
	margin-bottom: -28px;
}

#pu17441 #u32161
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 3px;
}

#u17444
{
	position: absolute;
	width: 237px;
	background-color: transparent;
	left: 4px;
}

#u17444popup
{
	z-index: 42;
}

#u17445
{
	z-index: 43;
	width: 237px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u17446-7
{
	z-index: 44;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u17446
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u17446-3
{
	font-size: 20px;
	line-height: 30px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u17458-5,#u17446-5
{
	font-size: 11px;
	line-height: 17px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u17458-4,#u17401-4,#u17446-4
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u17461-12
{
	z-index: 65;
	width: 500px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 117px;
}

#u17461-2,#u17461-3
{
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u17461-5,#u17461-7,#u17461-9
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u17461-10
{
	font-size: 12px;
	line-height: 14px;
}

#u17310
{
	z-index: 81;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u17315
{
	position: absolute;
	width: 83px;
	border-color: #999999;
	background-color: transparent;
}

#u17315:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u17315:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 83px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u17316-4
{
	z-index: 83;
	width: 83px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u17315:hover #u17316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u17315:active #u17316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u17315.PamphletThumbSelected #u17316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u17315.PamphletThumbSelected #u17316-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	text-align: center;
	font-weight: normal;
}

#u17342
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF1E1E;
	background-color: rgba(255,0,0,0.88);
	border-radius: 45px;
	padding-bottom: 5px;
	top: 142px;
	left: 423px;
	-pie-background: rgba(255,0,0,0.88);
}

#u17342:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u17342:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u17343-4
{
	z-index: 88;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u17343-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u16663
{
	z-index: 92;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 763px;
}

#u16669
{
	z-index: 93;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 1242px;
}

#u5028-17
{
	z-index: 104;
	width: 264px;
	min-height: 148px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 1323px;
}

#u5028-2,#u5028-4,#u5028-5,#u5028-7,#u5028-9
{
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: voltaire, sans-serif;
	font-weight: 400;
}

#u5028-11,#u5028-13,#u5028-15
{
	color: #A2A2A2;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
}

#u1506
{
	z-index: 121;
	width: 1973px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
}

#u1506_clip
{
	overflow: hidden;
	width: 1973px;
	height: 56px;
}

#u1506_img
{
	margin-top: -7px;
	margin-right: -4px;
	margin-bottom: -310px;
}

#u1468-4
{
	z-index: 123;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 934px;
}

#u1468-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 18px -10001px -1px -1px;
}

#u1470
{
	z-index: 127;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 1033px;
}

#u1470:hover
{
	width: 28px;
	min-height: 0px;
	margin: 104px -10000px 0px 0px;
}

.hvr-float-shadow,.hvr-grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1476
{
	z-index: 129;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 941px;
}

#u1476:hover
{
	background-color: transparent;
	width: 28px;
	min-height: 0px;
	margin: 104px -10000px 0px 0px;
}

#u1482
{
	z-index: 135;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 983px;
}

#u1482:hover
{
	width: 35px;
	min-height: 0px;
	margin: 106px -10000px 0px 0px;
}

#u5025-4
{
	z-index: 137;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1381px;
}

#u5025-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 12px -10001px -1px -1px;
}

#u1468-4:hover p,#u5025-4:hover p
{
	color: #000066;
	visibility: inherit;
	text-align: center;
}

#u5029-4
{
	z-index: 141;
	width: 223px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 395px;
}

#u5029-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 221px;
	margin: 18px -10001px -1px -1px;
}

#u257-4:hover p,#u5029-4:hover p
{
	text-align: center;
}

#pamphletu6104
{
	z-index: 145;
	width: 0.01px;
	height: 110px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 394px;
}

#u6115
{
	position: absolute;
	width: 966px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.4)),color-stop(100%, rgba(0,0,0,0.95)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#F2000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#F2000000', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 44px;
	top: 244px;
	left: 156px;
}

#u6115popup
{
	z-index: 146;
}

#u6120
{
	z-index: 147;
	width: 922px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6128
{
	z-index: 148;
	width: 922px;
	height: 452px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.51);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	-pie-background: rgba(255,255,255,0.51);
}

#u6128:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.85);
	width: 922px;
	height: 452px;
	min-height: 0px;
	margin: 47px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.85);
}

#u31458
{
	z-index: 149;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 174px;
}

#u31456
{
	z-index: 150;
	width: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 185px;
}

#pu31452
{
	width: 0.01px;
}

#u31452
{
	z-index: 151;
	width: 2px;
	height: 235px;
	background-color: #00204D;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u31453
{
	z-index: 152;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 80px;
}

#u31454
{
	z-index: 153;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 81px;
}

#u31455
{
	z-index: 154;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	margin-left: 83px;
	top: -84px;
	margin-bottom: -82px;
	position: relative;
}

#u31457
{
	z-index: 155;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u6162-4
{
	z-index: 168;
	width: 134px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 201px;
	position: relative;
}

#pu6154-4
{
	width: 0.01px;
	margin-top: 47px;
}

#u6154-4
{
	z-index: 156;
	width: 180px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6155-4
{
	z-index: 176;
	width: 129px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 356px;
}

#pu6175-4
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 52px;
}

#u6175-4
{
	z-index: 180;
	width: 113px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6161-4
{
	z-index: 172;
	width: 136px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 289px;
}

#pu6164-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 51px;
}

#u6164-4
{
	z-index: 160;
	width: 145px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6163-4
{
	z-index: 164;
	width: 175px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 321px;
}

#u6162-4::before,#u6154-4::before,#u6155-4::before,#u6175-4::before,#u6161-4::before,#u6164-4::before,#u6163-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6502
{
	z-index: 184;
	width: 922px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6522
{
	z-index: 185;
	width: 902px;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u6111
{
	z-index: 186;
	width: 168px;
	position: relative;
	margin-right: -10000px;
}

#u6114
{
	position: absolute;
	width: 120px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 15px;
}

#u6114:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u6114:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 120px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u6150-4
{
	z-index: 190;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 9px;
}

#u6114:hover #u6150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u6114:active #u6150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u6114.PamphletThumbSelected #u6150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u6144
{
	z-index: 188;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u6114:hover #u6144
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6114:active #u6144
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6114.PamphletThumbSelected #u6144
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6518
{
	position: absolute;
	width: 168px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 17px;
	top: 63px;
}

#u6518:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u6518:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 168px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u6532
{
	z-index: 199;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u6518:hover #u6532
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6518:active #u6532
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6518.PamphletThumbSelected #u6532
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6527-4
{
	z-index: 195;
	width: 107px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: 0px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u6518:hover #u6527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u6518:active #u6527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u6518.PamphletThumbSelected #u6527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u6518.PamphletThumbSelected #u6527-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	font-weight: normal;
}

#u6107
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	border-radius: 45px;
	padding-bottom: 3px;
	top: 264px;
	left: 1071px;
}

#u6107:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u6107:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u6108-4
{
	z-index: 202;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#u6108-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 20px;
	margin: 2px -10000px 0px 0px;
}

#u17343-4:hover p,#u6108-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u16660
{
	z-index: 206;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 394px;
}

#u16660_clip
{
	overflow: hidden;
	width: 46px;
	height: 48px;
}

#u16660_img
{
	margin-right: -1px;
}

body
{
	position: relative;
	min-width: 1270px;
	padding-top: 94px;
	padding-bottom: 17px;
}

#page .verticalspacer
{
	clear: both;
}

