.version.sports /* version checker */
{
	color: #0000E1;
	background-color: #8F3AF9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 5956px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -130px;
	padding-bottom: 8px;
	width: 0.01px;
}

#pu22836
{
	width: 0.01px;
	padding-bottom: 993px;
	margin-left: -100px;
}

#u22836
{
	z-index: 4;
	width: 1490px;
	background-color: transparent;
	position: fixed;
	top: -130px;
	left: -100px;
}

#u22840
{
	z-index: 201;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-53,123);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-53,123);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-53,123);
	position: fixed;
	top: 12px;
	left: -8px;
}

#u22843
{
	z-index: 377;
	height: 73px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #00204D));
	background: -webkit-linear-gradient(left,#000000 ,#00204D 100%);
	background: linear-gradient(to right,#000000 ,#00204D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF00204D, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF00204D', GradientType=1)";
	position: fixed;
	top: -1px;
	background-size: 100% auto;
}

#u22843-bw
{
	z-index: 377;
}

#u31510
{
	z-index: 378;
	width: 622px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 28px;
}

#u22868-4
{
	z-index: 387;
	width: 133px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 28px;
}

#u22868-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 131px;
	margin: -1px -1px -1px 27px;
}

#u22868-4:hover p
{
	color: #002366;
	visibility: inherit;
	text-align: center;
}

#u22899-4
{
	z-index: 391;
	width: 119px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 161px;
}

#u22899-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 117px;
	margin: -1px -1px -1px 160px;
}

#u23070-4
{
	z-index: 383;
	width: 101px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 280px;
}

#u23070-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 99px;
	margin: -1px -1px -1px 279px;
}

#pu22864-4
{
	width: 0.01px;
	padding-bottom: 28px;
	margin-right: -10000px;
	margin-left: 353px;
}

#u22864-4
{
	z-index: 379;
	width: 162px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 488px;
}

#u22864-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 160px;
	margin: -1px -1px -1px 487px;
}

#u22876-4
{
	z-index: 395;
	width: 115px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 381px;
}

#u22876-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
0px 8px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
0px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: -1px -1px -1px 380px;
}

#u22899-4:hover p,#u23070-4:hover p,#u22864-4:hover p,#u22876-4:hover p
{
	color: #002366;
	visibility: inherit;
}

#u23071
{
	z-index: 112;
	-webkit-transform: matrix(-0.682,0.7314,-0.7314,-0.682,296,122);
	-ms-transform: matrix(-0.682,0.7314,-0.7314,-0.682,296,122);
	transform: matrix(-0.682,0.7314,-0.7314,-0.682,296,122);
	position: fixed;
	top: 12px;
	left: 1045px;
}

#u22840_img,#u23071_img
{
	display: block;
	vertical-align: top;
}

#u22999
{
	z-index: 11;
	width: 216px;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 817px;
}

#u22958
{
	z-index: 399;
	width: 221px;
	background-color: transparent;
	position: fixed;
	top: -8px;
	left: 56px;
}

#pu22993
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -976px;
}

#u22993
{
	z-index: 13;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#sports__
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u23282
{
	z-index: 2;
	width: 1473px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: -93px;
}

#u23282_img
{
	padding-bottom: 2px;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
}

#u22968
{
	z-index: 181;
	width: 666px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 53px;
	left: 310px;
}

#u23164
{
	z-index: 182;
	width: 666px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22971
{
	z-index: 183;
	width: 666px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.1);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.1);
}

#u22971:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,1);
	width: 666px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,1);
}

#u22985
{
	z-index: 184;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: -15px;
}

#u22969
{
	z-index: 186;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 497px;
}

#u22972
{
	z-index: 188;
	width: 421px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 115px;
}

#u22973
{
	z-index: 189;
	width: 101px;
	background-color: transparent;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 25px;
}

#u22981
{
	z-index: 191;
	width: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 155px;
}

#u22983
{
	z-index: 193;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 223px;
}

#u22975
{
	z-index: 195;
	width: 110px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 86px;
}

#u22979
{
	z-index: 197;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 282px;
}

#u22977
{
	z-index: 199;
	width: 421px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22902-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 296px;
	left: 51px;
}

.js #u22843.ose_pre_init,.js #u22868-4.ose_pre_init,.js #u22899-4.ose_pre_init,.js #u23070-4.ose_pre_init,.js #u22864-4.ose_pre_init,.js #u22876-4.ose_pre_init,.js #u22999.ose_pre_init,.js #u22958.ose_pre_init,.js #u22902-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u22887
{
	z-index: 481;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 541px;
	left: 50%;
	margin-left: 589px;
}

#u22995
{
	z-index: 130;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 591px;
	left: 51px;
}

#u22998-13
{
	z-index: 131;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22996
{
	z-index: 144;
	width: 523px;
	-pie-box-shadow: 1px 1px 6px #7F7F7F;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 11px;
}

#u22917
{
	z-index: 114;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 591px;
	left: 683px;
}

#u22918-13
{
	z-index: 115;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22919
{
	z-index: 128;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 11px;
}

#u22962-3
{
	z-index: 178;
	width: 6px;
	min-height: 46px;
	background-color: transparent;
	margin-left: 1391px;
	margin-top: 200px;
	position: relative;
}

#u22877
{
	z-index: 162;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1320px;
	left: 51px;
}

#u22878-13
{
	z-index: 163;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22879
{
	z-index: 176;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 11px;
}

#u30923
{
	z-index: 302;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1320px;
	left: 683px;
}

#u30926
{
	z-index: 303;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u30927-13
{
	z-index: 304;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u30924
{
	z-index: 317;
	width: 525px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 11px;
}

#u30924_clip
{
	overflow: hidden;
	width: 525px;
	height: 294px;
}

#u30924_img
{
	margin-top: -11px;
	margin-bottom: -45px;
}

#u30919
{
	z-index: 286;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2044px;
	left: 682px;
}

#u30922-13
{
	z-index: 287;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u30920
{
	z-index: 300;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 11px;
}

#u22908
{
	z-index: 146;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2048px;
	left: 51px;
}

#u22909-13
{
	z-index: 147;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22910
{
	z-index: 160;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 11px;
}

#u30942
{
	z-index: 319;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2769px;
	left: 51px;
}

#u23234
{
	z-index: 320;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23235-14
{
	z-index: 321;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u30936
{
	z-index: 335;
	width: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 17px;
}

#u30936_img
{
	padding-right: 5px;
}

#u23230
{
	z-index: 203;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2769px;
	left: 682px;
}

#u23231-14
{
	z-index: 204;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u23232
{
	z-index: 218;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 11px;
}

#u30979
{
	z-index: 354;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3489px;
	left: 51px;
}

#u30974
{
	z-index: 355;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u30977-13
{
	z-index: 356;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u30963
{
	z-index: 369;
	width: 514px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 16px;
}

#u30969
{
	z-index: 337;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3489px;
	left: 682px;
}

#u30972-14
{
	z-index: 338;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u30970
{
	z-index: 352;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 11px;
}

#u23266
{
	z-index: 253;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4215px;
	left: 673px;
}

#u23269-14
{
	z-index: 254;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u23267
{
	z-index: 268;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 11px;
}

#u23270
{
	z-index: 270;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4220px;
	left: 51px;
}

#u23271-13
{
	z-index: 271;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u23272
{
	z-index: 284;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 11px;
}

#u23262
{
	z-index: 237;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4954px;
	left: 51px;
}

#u23265-13
{
	z-index: 238;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u23263
{
	z-index: 251;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 11px;
}

#u23258
{
	z-index: 220;
	width: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4956px;
	left: 673px;
}

#u23259-14
{
	z-index: 221;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u23260
{
	z-index: 235;
	width: 523px;
	-pie-box-shadow: none;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 11px;
}

#u23260_clip
{
	overflow: hidden;
	width: 523px;
	height: 299px;
}

#u23260_img
{
	margin-left: -9px;
	margin-right: -8px;
	margin-bottom: -61px;
}

#u31014-6
{
	z-index: 371;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 4174px;
	position: relative;
}

.js #u22887.ose_pre_init,.js #u22998-13.ose_pre_init,.js #u22996.ose_pre_init,.js #u22918-13.ose_pre_init,.js #u22919.ose_pre_init,.js #u22878-13.ose_pre_init,.js #u22879.ose_pre_init,.js #u30927-13.ose_pre_init,.js #u30924.ose_pre_init,.js #u30922-13.ose_pre_init,.js #u30920.ose_pre_init,.js #u22909-13.ose_pre_init,.js #u22910.ose_pre_init,.js #u23235-14.ose_pre_init,.js #u30936.ose_pre_init,.js #u23231-14.ose_pre_init,.js #u23232.ose_pre_init,.js #u30977-13.ose_pre_init,.js #u30963.ose_pre_init,.js #u30972-14.ose_pre_init,.js #u30970.ose_pre_init,.js #u23269-14.ose_pre_init,.js #u23267.ose_pre_init,.js #u23271-13.ose_pre_init,.js #u23272.ose_pre_init,.js #u23265-13.ose_pre_init,.js #u23263.ose_pre_init,.js #u23259-14.ose_pre_init,.js #u23260.ose_pre_init,.js #u31014-6.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu22901
{
	width: 0.01px;
	margin-left: -116px;
	margin-top: -59px;
}

#u22901
{
	z-index: 10;
	width: 1524px;
	background-color: #000000;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u22901_position_content
{
	margin-bottom: -8px;
	padding-top: 24px;
}

#pu22961
{
	width: 0.01px;
	margin-left: 518px;
}

#u22961
{
	z-index: 14;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u22914
{
	z-index: 15;
	width: 1px;
	height: 175px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u22883
{
	z-index: 16;
	width: 1973px;
	background-color: transparent;
	left: -256px;
	margin-top: 21px;
	position: relative;
}

#u22883_clip
{
	overflow: hidden;
	width: 1973px;
	height: 56px;
}

#u22883_img
{
	margin-top: -7px;
	margin-right: -4px;
	margin-bottom: -310px;
}

#u22915
{
	z-index: 18;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 135px;
}

#u22915_clip
{
	overflow: hidden;
	width: 46px;
	height: 48px;
}

#u22915_img
{
	margin-right: -1px;
}

#u31016
{
	z-index: 20;
	width: 1233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 144px;
}

#pu23069-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u23069-4
{
	z-index: 46;
	width: 223px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u23069-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 221px;
	margin: -1px -1px -1px 0px;
}

#pamphletu22923
{
	z-index: 50;
	width: 0.01px;
	height: 110px;
	padding-bottom: 17px;
	margin-top: 22px;
	position: relative;
}

#u22935
{
	position: absolute;
	width: 966px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.4)),color-stop(100%, rgba(0,0,0,0.95)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#F2000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#F2000000', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 44px;
	top: 244px;
	left: 155px;
}

#u22935popup
{
	z-index: 51;
}

#u22939
{
	z-index: 52;
	width: 922px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #8C8C8C;
	background-color: rgba(0,0,0,0.45);
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	-pie-background: rgba(0,0,0,0.45);
}

#u31524
{
	z-index: 53;
	width: 922px;
	height: 452px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.51);
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	-pie-background: rgba(255,255,255,0.51);
}

#u31524:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.85);
	width: 922px;
	height: 452px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.85);
}

#u31525
{
	z-index: 54;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 174px;
}

#u31526
{
	z-index: 55;
	width: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 185px;
}

#pu31527
{
	width: 0.01px;
}

#u31527
{
	z-index: 56;
	width: 2px;
	height: 235px;
	background-color: #00204D;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u31530
{
	z-index: 57;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 80px;
}

#u31528
{
	z-index: 58;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 81px;
}

#u31529
{
	z-index: 59;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	margin-left: 83px;
	top: -84px;
	margin-bottom: -82px;
	position: relative;
}

#u31531
{
	z-index: 60;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u31532-4
{
	z-index: 73;
	width: 134px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 201px;
	position: relative;
}

#pu31537-4
{
	width: 0.01px;
	margin-top: 47px;
}

#u31537-4
{
	z-index: 61;
	width: 180px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31536-4
{
	z-index: 81;
	width: 129px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 356px;
}

#pu31535-4
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 52px;
}

#u31535-4
{
	z-index: 85;
	width: 113px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31538-4
{
	z-index: 77;
	width: 136px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 289px;
}

#pu31533-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 51px;
}

#u31533-4
{
	z-index: 65;
	width: 145px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u31534-4
{
	z-index: 69;
	width: 175px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 321px;
}

#u31532-4::before,#u31537-4::before,#u31536-4::before,#u31535-4::before,#u31538-4::before,#u31533-4::before,#u31534-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22936
{
	z-index: 89;
	width: 922px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22937
{
	z-index: 90;
	width: 902px;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u22926
{
	z-index: 91;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u22931
{
	position: absolute;
	width: 120px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 15px;
	left: -9px;
}

#u22931:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u22931:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 120px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u22934-4
{
	z-index: 95;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 9px;
}

#u22931:hover #u22934-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u22931:active #u22934-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u22931.PamphletThumbSelected #u22934-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u22932
{
	z-index: 93;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u22931:hover #u22932
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22931:active #u22932
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22931.PamphletThumbSelected #u22932
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22927
{
	position: absolute;
	width: 168px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 17px;
	top: 63px;
	left: 1px;
}

#u22927:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u22927:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 168px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u22930-4
{
	z-index: 100;
	width: 107px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: 0px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u22927:hover #u22930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u22927:active #u22930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u22927.PamphletThumbSelected #u22930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u22927.PamphletThumbSelected #u22930-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	font-weight: normal;
}

#u22928
{
	z-index: 104;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u22927:hover #u22928
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22927:active #u22928
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22927.PamphletThumbSelected #u22928
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22956
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: 269px;
	left: 1067px;
}

#u22956:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u22956:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u22957-4
{
	z-index: 107;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu22867-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 543px;
}

#u22867-4
{
	z-index: 32;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
}

#u22867-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: -1px;
}

#pu22846
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 57px;
}

#u22846
{
	z-index: 38;
	width: 28px;
	position: relative;
	margin-right: -10000px;
}

.hvr-float-shadow,.hvr-grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u23067
{
	z-index: 40;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 42px;
}

#u22852
{
	z-index: 36;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#pu22992-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 877px;
}

#u22992-4
{
	z-index: 42;
	width: 134px;
	min-height: 19px;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 107px;
	position: relative;
}

#u22992-4:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: -1px -1px -1px 106px;
}

#u23069-4:hover p,#u22867-4:hover p,#u22992-4:hover p
{
	color: #000066;
	visibility: inherit;
	text-align: center;
}

#u22900-11
{
	z-index: 21;
	width: 356px;
	min-height: 158px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	letter-spacing: 0px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#pamphletu32348
{
	z-index: 401;
	width: 0.01px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 714px;
}

#u32354
{
	position: absolute;
	width: 863px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 44px;
	top: 119px;
	left: -382px;
	-pie-background: rgba(0,0,0,0.5);
}

#u32354popup
{
	z-index: 402;
}

#u32355
{
	z-index: 403;
	width: 755px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.95);
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 10px 9px 445px 55px;
	-pie-background: rgba(255,255,255,0.95);
}

#u32359-4
{
	z-index: 466;
	width: 500px;
	min-height: 42px;
	background-color: transparent;
	color: #1B1464;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	text-align: center;
	font-family: graduate, sans-serif;
	font-weight: 400;
	margin-left: 116px;
	position: relative;
}

#pamphletu32388
{
	z-index: 440;
	width: 0.01px;
	height: 300px;
	padding-bottom: 1px;
	margin-left: 499px;
	margin-top: 14px;
	position: relative;
}

#u32389
{
	z-index: 441;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u32390
{
	position: absolute;
	width: 251px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u32390:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u32390.PamphletThumbSelected
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u32391
{
	z-index: 443;
	width: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32390:hover #u32391
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32390.PamphletThumbSelected #u32391
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32391_img
{
	margin-bottom: -55px;
}

#u32393
{
	position: absolute;
	width: 239px;
	background-color: transparent;
}

#u32393popup
{
	z-index: 445;
}

#u32394
{
	z-index: 446;
	width: 239px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32395-7
{
	z-index: 447;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32395-3
{
	font-size: 20px;
	line-height: 31px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pamphletu32360
{
	z-index: 409;
	width: 0.01px;
	height: 296px;
	padding-bottom: 120px;
	top: -294px;
	margin-bottom: -294px;
	position: relative;
}

#u32365
{
	z-index: 410;
	width: 239px;
	position: relative;
	margin-right: -10000px;
}

#u32366
{
	position: absolute;
	width: 361px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 120px;
}

#u32366:hover
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32366:active
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32366.PamphletThumbSelected
{
	width: 361px;
	min-height: 0px;
	margin: 0px;
}

#u32367
{
	z-index: 412;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32366:hover #u32367
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32366:active #u32367
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32366.PamphletThumbSelected #u32367
{
	width: 239px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32367_clip
{
	overflow: hidden;
	width: 239px;
	height: 296px;
}

#u32367_img
{
	margin-top: -31px;
	margin-bottom: -32px;
}

#u32369
{
	position: absolute;
	width: 238px;
	background-color: transparent;
}

#u32369popup
{
	z-index: 414;
}

#u32370
{
	z-index: 415;
	width: 238px;
	height: 303px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32371-7
{
	z-index: 416;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32395,#u32371
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u32371-3
{
	font-size: 20px;
	line-height: 32px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32371-5
{
	font-size: 11px;
	line-height: 18px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#pu32403
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -417px;
}

#u32403
{
	z-index: 404;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32356
{
	z-index: 406;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u32356_clip
{
	overflow: hidden;
	width: 230px;
	height: 296px;
}

#u32356_img
{
	margin-bottom: -49px;
}

#u32402
{
	z-index: 408;
	width: 230px;
	height: 296px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#pamphletu32374
{
	z-index: 423;
	width: 0.01px;
	height: 298px;
	padding-bottom: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 243px;
}

#u32382
{
	z-index: 424;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 4px;
}

#pu32383
{
	position: absolute;
	width: 0.01px;
	left: -4px;
}

#u32383
{
	position: absolute;
	width: 509px;
	height: 536px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#pu32383:hover #u32383,#pu32383.PamphletThumbSelected #u32383
{
	width: 510px;
	height: 537px;
	border-style: none;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

.ie #u32402,.ie #pu32383:hover #u32383,.ie #pu32383.PamphletThumbSelected #u32383
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u32384
{
	z-index: 427;
	width: 234px;
	background-color: transparent;
}

#pu32383:hover #u32384
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#pu32383.PamphletThumbSelected #u32384
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	left: 4px;
	min-height: 0px;
}

#u32391_clip,#u32384_clip
{
	overflow: hidden;
	width: 234px;
	height: 296px;
}

#u32384_img
{
	margin-top: -27px;
	margin-bottom: -28px;
}

#pu32383 #u32384
{
	position: relative;
	width: 234px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 3px;
}

#u32377
{
	position: absolute;
	width: 237px;
	background-color: transparent;
	left: 4px;
}

#u32377popup
{
	z-index: 431;
}

#u32378
{
	z-index: 432;
	width: 237px;
	height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255,255,255,0.8);
}

#u32379-7
{
	z-index: 433;
	width: 202px;
	min-height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u32379
{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32379-3
{
	font-size: 20px;
	line-height: 30px;
	color: #1B145B;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32395-5,#u32379-5
{
	font-size: 11px;
	line-height: 17px;
	color: #5C5C5C;
	font-family: noticia-text, serif;
	font-weight: 400;
}

#u32395-4,#u32371-4,#u32379-4
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u32358-12
{
	z-index: 454;
	width: 500px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 117px;
}

#u32358-2,#u32358-3
{
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u32358-5,#u32358-7,#u32358-9
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	color: #303030;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u32358-10
{
	font-size: 12px;
	line-height: 14px;
}

#u32351
{
	z-index: 470;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u32352
{
	position: absolute;
	width: 83px;
	border-color: #999999;
	background-color: transparent;
}

#u32352:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u32352:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 83px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u32353-4
{
	z-index: 472;
	width: 83px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u32352:hover #u32353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32352:active #u32353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32352.PamphletThumbSelected #u32353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u32352.PamphletThumbSelected #u32353-4 p
{
	line-height: 1.38;
	letter-spacing: 0px;
	font-size: 19px;
	text-align: center;
	font-weight: normal;
}

#u32349
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF1E1E;
	background-color: rgba(255,0,0,0.88);
	border-radius: 45px;
	padding-bottom: 5px;
	top: 142px;
	left: 423px;
	-pie-background: rgba(255,0,0,0.88);
}

#u32349:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u32349:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u32350-4
{
	z-index: 477;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u22957-4:hover,#u32350-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u22957-4:hover p,#u32350-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 112px;
}

#page .verticalspacer
{
	clear: both;
}

